/* General */
html {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-shadow: 0 0 0.5rem rgb(0, 255, 255);
}

/* Header */
.hero-background {
    background-image: url(../images/background1.png);
    background-size: cover;
    filter: brightness(1.2);
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -2;
}
.header {
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    margin-bottom: 1rem;
}
@media (min-width: 62.5rem) {
    .header {
        position: fixed;
    }
}
.logo {
    display: flex;
    margin-left: 1.5rem;
}
.image-logo {
    width: 2rem;
    height: 2.1rem;
    margin-top: .3rem;
}
.logo-txt {
    font-family: 'Melancholy Serif', sans-serif;
    color: rgb(0, 255, 255);
    font-size: 2rem;
    margin-left: 1.2rem;
}
.right-header a {
    font-family: 'Izayoi Monospaced', sans-serif;
    color: rgb(0, 255, 255);
    margin-right: 1.8rem;
}

/* Hero */
.hero {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2rem rgb(69, 69, 69);
    border-radius: 1.5rem;
    width: 80%;
    height: 90%;
    margin: 10rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-hero {
    margin: 3rem 2rem 3rem 5rem;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-main {
    font-size: 2.2rem;
    font-weight: 700;
    text-shadow: 0 0 0.8rem rgb(255, 255, 255);
    text-align: center;
}
.hero-text {
    margin-top: 3rem;
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-align: justify;
}
.hero-button {
    margin-top: 9rem;
    color: rgb(255, 255, 255);
    border: 0.2rem solid rgb(255, 255, 255);
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgb(0, 255, 255);
    text-shadow: 0 0 0.8rem rgb(69, 69, 69);
    width: 10em;
    height: 3em;
    background: rgb(1,55,60);
    background: linear-gradient(0deg, rgba(1,55,60,1) 0%, rgba(23,137,152,1) 56%, rgba(45,227,253,1) 100%);
    font-size: 1.2rem;
}
.right-hero {
    width: 50vw;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-hero {
    width: 35vw;
}
.heroimage-title {
    margin-top: 1rem;
    font-size: 1.2rem;
}
.image-author {
    text-decoration: underline;
    margin-top: .3rem;
}
.hero-layer {
    background-color: rgb(0, 0 , 0);
    margin: 4rem auto 0;
    text-align: center;
    font-size: .9rem;
    width: 10rem;
    padding: .8rem .4rem ;
    border-radius: .5rem;
}
.hero-layer a {
    text-decoration: underline;
}

/* Image container */
.img-background {
    background: rgb(1,55,60);
    background: linear-gradient(0deg, rgba(1,55,60,1) 0%, rgba(23,137,152,1) 56%, rgba(45,227,253,1) 100%);
    margin-top: 1rem;
    box-shadow: 0 0 2rem rgb(69, 69, 69);
}
.image-title {
    font-size: 2.3rem;
    font-family: 'Kamishirasawa Sans', sans-serif;
    letter-spacing: .1rem;
    text-align: center;
    text-shadow: 0 0 2rem rgb(69, 69, 69);
    font-weight: 700;
    margin: 1rem 1rem 2rem;
    padding-bottom: .8rem;
}
.images-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0 1.5rem;
}
.image-content {
    width: 12rem;
    height: 14rem;
    border: 0.3rem solid white;
    border-radius: 1.2rem;
    box-shadow: 0 0.62rem 1.87rem rgb(0, 0, 0);
    object-fit: cover;
}
.text {
    font-family: 'Anime Inept', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 1.8rem;
    margin-top: .8rem;                                                
}
.imagecont-author {
    margin-bottom: 2rem;
    font-size: .9rem;
}

/* Quote container */
.quote-bg {
    background-image: url(../images/sana-bg.png);
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 5rem 2.5rem;
    background-position: center;
    background-attachment: fixed;
}
@media (min-width: 62.5rem) {
    .quote-container {
        margin: 12rem 50rem .3rem;
    }
    .quote {
        margin: .3rem 20rem;
    }
    .quote-author {
        margin-right: 20rem;
    }
}
.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 1.5rem 0;
}
.quote {
    font-size: 2.5rem;
    font-style: italic;
    text-shadow: 
    0 0 .5rem rgb(0, 0, 0),
    0 0 .5rem rgb(0, 0, 0),
    0 0 .5rem rgb(0, 0, 0);
    
}
.quote-author {
    margin-left: auto;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    padding-right: 3.5rem;
    text-shadow: 
    0 0 .5rem rgb(0, 0, 0),
    0 0 .5rem rgb(0, 0, 0),
    0 0 .5rem rgb(0, 0, 0);
    
}
.bgquote-author {
    font-size: .9rem;
    text-align: center;
    background: rgb(0, 0, 0);
    border-radius: 1.5rem;
    padding: .4rem;
    margin-top: 20em;
}
.link-author {
    text-decoration: underline;
}
.bgquote-author a:hover {
    text-shadow: 
    0 0 0.7rem rgb(176, 38, 255),
    0 0 0.7rem rgb(176, 38, 255),
    0 0 0.7rem rgb(176, 38, 255);
}
/* Info container */
.info-background {
    background: rgb(52,5,79);
    background: linear-gradient(0deg, rgba(52,5,79,1) 0%, rgba(113,8,173,1) 51%, rgba(176,38,255,1) 100%);
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-container {
    background-color: rgb(26, 25, 25);
    padding: 2.8rem 5rem;
    border-radius: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 62.5rem) {
    .info-background {
        flex-direction: column;
    }
    .info-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.8rem 0rem;

    } 
    .left-content {
        margin-right: 0;
    }
    .main-infotext {
        text-align: center;
        margin-left: 2.5rem;
    }
    .text-info {
        text-align: center;
        margin-left: 2.5rem;
    }
 
}
.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5rem;
    margin-right: 3rem;
}
.main-infotext {
    font-size: 1.25rem;
    font-weight: 700;
}
.text-info {
    font-size: 1.1rem;
    inline-size: 38.25rem;
    overflow-wrap: break-word;
    margin-top: 0.5rem;

}
.info-button {
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    font-weight: 700;
    background: rgb(46,1,45);
    background: linear-gradient(0deg, rgba(46,1,45,1) 5%, rgba(255,0,253,1) 100%);
    color: rgb(255, 255, 255);
    margin-left: 2.5rem;
    padding: .5rem 1.875rem;
    border: .16rem solid rgb(255, 255, 255);
    border-radius: .5rem;
}

/* Footer */
.footer {
    background-color: rgb(20, 10, 42);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 1.2rem rgb(0, 0, 0);
}
.footer-info {
    font-family: 'Izayoi Monospaced', sans-serif;
    line-height: 1.5rem;
}